<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Selamat Datang</h1>

    {{!-- <form action="" method="post">
        <label for="">Nama:</label>
        <input type="text" name="nama"><br>
        <label for="">Kelas:</label>
        <input type="text" name="kelas"><br>
        <label for="">Jurusan:</label>
        <input type="text" name="jurusan"><br>
        <label for="">Email:</label>
        <input type="email" name="email"><br>
        <label for="">Password:</label>
        <input type="password" name="password"><br>
        <input type="button" value="submit">
    </form> --}}

    <p>Silakan <a href="/api/user/google">Login</a> Terlebih Dahulu</p>
</body>
</html>